// Importing Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

#root {
  font: normal normal 500 16px/24px "Space Grotesk";
  margin: 0;
  padding: 60px 0;
}

header {
  display: flex;
  max-width: 100%;
  min-height: 76px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 3%;
  margin: 0px 20px;
  justify-content: space-between;
  padding-bottom: 60px;

  .logo {
    position: relative;
    fill: none;
  }

  .nav-left {
    display: flex;
    align-items: center;

    h1 {
      font: normal normal 500 16px/24px Sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #000000;
      margin-left: 20px;
    }
  }
  .nav-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0 5%;
        color: #000000;
      }
    }

    .request {
      min-width: 165px;
    }
  }
}

.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  padding-bottom: 60px;
  .landing_1 {
    width: 50%;
    .explore {
      min-width: 150px;
    }
  }
  .landing_2 {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
