// Importing Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

#root {
  font: normal normal 500 16px/24px "Space Grotesk";
  margin: 0;
  padding: 60px 0;
}

header {
  display: flex;
  max-width: 100%;
  min-height: 76px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 3%;
  margin: 0px 20px;
  justify-content: space-between;
  padding-bottom: 60px;

  .logo {
    position: relative;
    fill: none;
  }

  .nav-left {
    display: flex;
    align-items: center;

    h1 {
      font: normal normal 500 16px/24px Sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #000000;
      margin-left: 20px;
    }
  }
  .nav-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0 5%;
        color: #000000;
      }
    }

    .request {
      min-width: 165px;
    }
  }
}

.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  padding-bottom: 60px;
  .landing_1 {
    width: 50%;
    .explore {
      min-width: 150px;
      background-color: #000000;
      color: #f3f3f3;
      border-color: #f3f3f3;
    }
  }
  .landing_2 {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 5%;
  padding-bottom: 60px;
  list-style: none;

  .sponsor-logo {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 0 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.boxes-container {
  display: grid;
  //template for 2 columns
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-bottom: 60px;
  row-gap: 7%;
  column-gap: 5%;

  .box {
    width: 70%;
    height: 250px;
    border: #000000 solid 1px;
    border-radius: 15px;
    padding: 5px;
    background-color: #f3f3f3;
    box-shadow: 0 0 0 0;
    margin-left: 0;
    margin-right: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0.2, 0.2, 1),
      transform 0.2s cubic-bezier(0.4, 0.2, 0.2, 1);

    &:hover {
      box-shadow: #000000 10px 10px 0px;
      transform: translate3d(-10px, -10px, 0);
    }
  }

  .box:nth-child(odd) {
    margin-left: auto;
    margin-right: 0;
  }

  .box:nth-child(even) {
    margin-left: 0;
    margin-right: auto;
  }
}
